<link rel="stylesheet" href="/resource/css/styles.css">
<link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
<div class="container-fluid" id="fondopie">
	<div class="seccion-oscura d-flex flex-column align-items-center justify-content-center pt-4">
		<div class="row">
			<div class="col text-end">
				<img class="footer-logo" src="/resource/img/hidrob.png" alt="logo empresa" class="img-fluid">
			</div>
			<div class="col color-texto-f">
				<i class="fa-solid fa-phone"></i> <strong>+502 3065-6786</strong><br>
				<i class="fa-solid fa-location-dot"></i> <strong>Calle Corona 4ta Avenida 0-21 zona 12 Colonia Ciudad Real 1</strong>
			</div>
		</div>
		<div class="iconos-redes-sociales d-flex align-items-center justify-content-center">
			<a href="https://wa.me/50230656786" target="_blank">
				<i class="fa-solid fa-phone"></i>
			</a>
			<a href="https://www.facebook.com/hidrocompras" target="_blank">
				<i class="fa-brands fa-facebook"></i>
			</a>
			<a href="https://www.instagram.com/hidrocompras/" target="_blank">
				<i class="fa-brands fa-instagram"></i>
			</a>
			<a  href="https://wa.me/50230656786?text=Hola,%20le%20comento%20que%20me%20interesó%20el%20producto%20:%20" target="_blank">
				<i class="fa-brands fa-whatsapp"></i>
			</a>
		</div>
		<div class="derechos-autor">WalterPretz (2022) &#169</div>
	</div>
</div>
<script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>